/* 공통 */
.common_header_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 120px 0 80px 0;
  gap: 16px;
}

.common_header_kr {
  font-family: "Pretendard", sans-serif;
  font-size: 76px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #FFF;
}

.common_header_en {
  font-family: "Pretendard", sans-serif;
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  text-align: center;
  letter-spacing: 6.4px;
  text-transform: uppercase;
  color: #6B7684;
}

.common_content_title {
  font-family: "Pretendard", sans-serif;
  font-size: 100px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  margin-top: 79px;
  margin-bottom: 24px;
  text-align: center;
  letter-spacing: -2.5px;
  color: #FFF;
}

.common_content_caption {
  font-family: "Pretendard", sans-serif;
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: center;
  letter-spacing: -1.5px;
  color: #ADB5BD;
}

.common_back_btn {
  position: fixed;
  bottom: 360px;
  left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  margin-left: 30px;
  padding: 24px;
  cursor: pointer;
  gap: 24px;
}

.common_back_btn_icon {
  width: 48px;
  height: 48px;
  background: url(../../img/type_a/back.svg) no-repeat top center;
  background-size: cover;
}

.common_back_btn_text {
  font-family: "Pretendard", sans-serif;
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  color: #ADB5BD;
}

.common_navigation_bar {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 320px;
  background: #151A2E;
}

.common_home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 330px;
  padding: 60px 0;
  border-right: 1px solid rgba(229, 232, 235, 0.40);
}

.common_home img {
  width: 96px;
  height: 96px;
}

.common_navigation_menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  padding: 60px 0;
}

.common_navigation_menu img {
  width: 96px;
  height: 96px;
}

.common_navigation_menu_kr {
  font-family: "Pretendard", sans-serif;
  font-size: 44px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  margin-top: 24px;
  margin-bottom: 12px;
  text-align: center;
  color: #6B7684;
}

.common_navigation_menu_en {
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  color: #6B7684;
}

.common_auth {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 330px;
  padding: 60px 0;
}

.common_logout {
  background: #28347C;
}

.common_logout img {
  width: 96px;
  height: 96px;
}

.common_login {
  display: flex;
  flex-direction: column;
  background: #309BDF;
}

.common_login img {
  width: 68px;
  height: 91px;
}

.common_user_name {
  font-family: "Pretendard", sans-serif;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #191F28;
}

.common_logout_caption {
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #072143;
}

.common_user_name {
  color: #FFFFFF !important;
}

.common_navigation_menu_active div {
  color: #FFFFFF !important;
}

.common_navigation_menu_active img {
  filter: invert(100%) brightness(200%) contrast(100%);
}

.common_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: url(../../img/type_a/content_bg.svg) no-repeat top center;
  background-size: cover;
}

.common_book_title {
  font-family: "Pretendard", sans-serif;
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  line-height: 140%;
  overflow: hidden;
  width: 440px;
  margin-bottom: 8px;
  white-space: nowrap;
  letter-spacing: -1.2px;
  text-overflow: ellipsis;
  color: #95CACF;
}

.common_writer {
  font-family: "Pretendard", sans-serif;
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  overflow: hidden;
  width: 440px;
  margin-bottom: 8px;
  white-space: nowrap;
  letter-spacing: -1px;
  text-overflow: ellipsis;
  color: #8B95A1;
}

.common_publication {
  font-family: "Pretendard", sans-serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1px;
  color: #8B95A1;
}

.common_four_by_four {
  width: 2160px;
  height: 2490px;
  margin-top: 120px;
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-top: 45px !important;
  padding-bottom: 80px !important;
  padding-left: 235px !important;
}

.common_four_by_four .swiper-slide {
  display: grid !important;
  width: 1700px !important;
  border-radius: 24px;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
}

.common_four_by_four .slide-item {
  width: 356px;
  height: 726px;
}

.common_four_by_four .slide-item img {
  width: 356px;
  height: 515px;
  margin-bottom: 40px;
  border-radius: 24px;
  box-shadow: 20px 20px 30px 10px rgba(25, 33, 61, 0.20);
  object-fit: cover;
}

.common_four_by_four .swiper-button-next::after,
.common_four_by_four .swiper-button-prev::after {
  display: none;
}

.common_four_by_four .swiper-button-next {
  top: 1100px;
  right: 70px;
  width: 160px;
  height: 160px;
  transform: rotate(180deg);
  background: url(../../img/type_a/arrow.svg) no-repeat top center;
  background-size: cover;
}

.common_four_by_four .swiper-button-prev {
  top: 1100px;
  left: 70px;
  width: 160px;
  height: 160px;
  background: url(../../img/type_a/arrow.svg) no-repeat top center;
  background-size: cover;
}

.common_four_by_four .swiper-pagination-current {
  color: #FFFFFF;
}

.common_four_by_four .swiper-pagination-total {
  color: #666;
}

.common_four_by_four .swiper-pagination-fraction {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: center;
  letter-spacing: -1px;
  color: #666;
}

@media (width: 1080px) {
  .common_header_wrapper {
    padding: 60px 0 40px 0;
    gap: 8px;
  }

  .common_header_kr {
    font-size: 38px;
  }

  .common_header_en {
    font-size: 16px;
    letter-spacing: 3.2px;
  }

  .common_content_title {
    font-size: 50px;
    margin-top: 39.5px;
    margin-bottom: 12px;
    letter-spacing: -1.25px;
  }

  .common_content_caption {
    font-size: 30px;
    letter-spacing: -0.75px;
  }

  .common_back_btn {
    position: fixed;
    bottom: 180px;
    left: 15px;
    width: 120px;
    margin-left: 15px;
    padding: 12px;
    gap: 12px;
  }

  .common_back_btn_icon {
    width: 24px;
    height: 24px;
  }

  .common_back_btn_text {
    font-size: 24px;
  }

  .common_navigation_bar {
    height: 160px;
  }

  .common_home {
    width: 165px;
    padding: 30px 0;
  }

  .common_home img {
    width: 48px;
    height: 48px;
  }

  .common_navigation_menu {
    width: 250px;
    padding: 30px 0;
  }

  .common_navigation_menu img {
    width: 48px;
    height: 48px;
  }

  .common_navigation_menu_kr {
    font-size: 22px;
    margin-top: 12px;
    margin-bottom: 6px;
  }

  .common_navigation_menu_en {
    font-size: 10px;
  }

  .common_auth {
    width: 165px;
    padding: 30px 0;
  }

  .common_logout img {
    width: 48px;
    height: 48px;
  }

  .common_login img {
    width: 34px;
    height: 45.5px;
  }

  .common_user_name {
    font-size: 18px;
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .common_logout_caption {
    font-size: 10px;
  }

  .common_book_title {
    font-size: 24px;
    width: 220px;
    margin-bottom: 4px;
    letter-spacing: -0.6px;
  }

  .common_writer {
    font-size: 20px;
    width: 220px;
    margin-bottom: 4px;
    letter-spacing: -0.5px;
  }

  .common_publication {
    font-size: 20px;
    letter-spacing: -0.5px;
  }

  .common_four_by_four {
    width: 1080px;
    height: 1245px;
    margin-top: 60px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 30px;
    background: #FFFFFF;
  }
}

@media (width: 3840px) {
  .common_header_wrapper {
    width: 3520px;
    margin-left: 320px;
    padding: 80px 0 80px 0;
  }

  .common_content_title {
    width: 3520px;
    margin-left: 320px;
  }

  .common_content_caption {
    width: 3520px;
    margin-left: 320px;
  }

  .common_header_kr {
    font-size: 60px;
  }

  .common_header_en {
    font-size: 24px;
    letter-spacing: 4.8px;
  }

  .common_back_btn {
    position: fixed;
    bottom: 40px;
    left: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    margin-left: 30px;
    padding: 24px;
    cursor: pointer;
    gap: 24px;
  }

  .common_navigation_bar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 320px;
    height: 100%;
  }

  .common_home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 320px;
    padding: 0 60px;
    border-right: none;
    border-bottom: 1px solid rgba(229, 232, 235, 0.40);
  }

  .common_navigation_menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    height: 500px;
    padding: 0 60px;
    white-space: nowrap;
  }

  .common_auth {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 320px;
    padding: 0 60px;
  }

  .common_content {
    display: flex;
    flex-direction: column;
    background: url(../../img/type_a/content_bg_x.svg) no-repeat top center;
  }

  .common_book_title {
    width: 356px;
  }

  .common_writer {
    width: 356px;
  }

  .common_four_by_four {
    width: 3520px;
    height: 980px;
    margin-top: 0;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 230px !important;
  }

  .common_four_by_four .swiper-slide {
    display: grid !important;
    border-radius: 24px;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 200px;
  }

  .common_four_by_four .slide-item {
    width: 440px;
  }

  .common_four_by_four .slide-item img {
    width: 440px;
    height: 637px;
    margin-bottom: 40px;
  }

  .common_four_by_four .swiper-button-next {
    top: 420px;
    right: 80px;
  }

  .common_four_by_four .swiper-button-prev {
    top: 420px;
    left: 50px;
  }
}

@media (width: 1920px) {
  .common_header_wrapper {
    width: 1760px;
    margin-left: 160px;
    padding: 40px 0 40px 0;
  }

  .common_content_title {
    width: 1760px;
    margin-left: 160px;
  }

  .common_content_caption {
    width: 1760px;
    margin-left: 160px;
  }

  .common_header_kr {
    font-size: 30px;
  }

  .common_header_en {
    font-size: 12px;
    letter-spacing: 2.4px;
  }

  .common_back_btn {
    position: fixed;
    bottom: 20px;
    left: 185px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    margin-left: 15px;
    padding: 12px;
    cursor: pointer;
    gap: 12px;
  }

  .common_navigation_bar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 160px;
    height: 100%;
  }

  .common_home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    padding: 0 30px;
    border-right: none;
    border-bottom: 1px solid rgba(229, 232, 235, 0.40);
  }

  .common_navigation_menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 160px;
    height: 250px;
    padding: 0 30px;
    white-space: nowrap;
  }

  .common_auth {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    padding: 0 30px;
  }

  .common_content {
    display: flex;
    flex-direction: column;
    background: url(../../img/type_a/content_bg_x.svg) no-repeat top center;
  }

  .common_book_title {
    width: 178px;
  }

  .common_writer {
    width: 178px;
  }

  .common_four_by_four {
    width: 1760px;
    height: 490px;
    margin-top: 0;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 115px !important;
  }

  .common_four_by_four .swiper-slide {
    display: grid !important;
    border-radius: 12px;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 100px;
  }

  .common_four_by_four .slide-item {
    width: 220px;
  }

  .common_four_by_four .slide-item img {
    width: 220px;
    height: 318.5px;
    margin-bottom: 20px;
  }

  .common_four_by_four .swiper-button-next {
    top: 210px;
    right: 40px;
  }

  .common_four_by_four .swiper-button-prev {
    top: 210px;
    left: 35px;
  }
}

/* 메인 */
.main_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: url(../../img/type_a/main_bg.svg) no-repeat top center;
  background-size: cover;
}

.main_book_img {
  width: 1530px;
  height: 1530px;
  margin-top: 255px;
  background: url(../../img/type_a/main_icon.svg) no-repeat top center;
  background-size: cover;
}

.main_text_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main_title {
  font-family: "Pretendard", sans-serif;
  font-size: 120px;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  margin-bottom: 40px;
  animation: slideUp 0.8s ease-out;
  text-align: center;
  letter-spacing: -6px;
  color: #FFF;
}

.main_caption {
  font-family: "Pretendard", sans-serif;
  font-size: 64px;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;
  animation: slideUp 1s ease-out;
  text-align: center;
  letter-spacing: -1.6px;
  color: #EFF1F3;
}

.main_navigation_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1080px;
  height: 240px;
  margin-top: 180px;
  padding: 0 40px 0 160px;
  border-radius: 200px;
  background: #FFF;
}

.main_navigation_wrapper:hover {
  opacity: 0.7;
}

@keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.main_navigation_text {
  font-family: "Pretendard", sans-serif;
  font-size: 60px;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  text-align: center;
  letter-spacing: -1.5px;
  color: #333D4B;
}

.main_navigation_icon {
  width: 160px;
  height: 160px;
  background: url(../../img/type_a/main_arrow.svg) no-repeat top center;
  background-size: cover;
}

@media (width: 1080px) {
  .main_book_img {
    width: 765px;
    height: 765px;
    margin-top: 127.5px;
  }

  .main_title {
    font-size: 60px;
    margin-bottom: 20px;
    letter-spacing: -3px;
  }

  .main_caption {
    font-size: 32px;;
    letter-spacing: -0.8px;
  }

  .main_navigation_wrapper {
    width: 540px;
    height: 120px;
    margin-top: 90px;
    padding: 0 20px 0 80px;
    border-radius: 100px;
  }

  .main_navigation_text {
    font-size: 30px;
    letter-spacing: -0.75px;
  }

  .main_navigation_icon {
    width: 80px;
    height: 80px;
  }
}

@media (width: 3840px) {
  .main_content {
    background: url(../../img/type_a/main_bg_x.svg) no-repeat top center;
  }

  .main_content_wrapper {
    display: flex;
    align-items: center;
    gap: 200px;
  }

  .main_book_img {
    margin-top: 0;
  }

  .main_title {
    margin-bottom: 60px;
    letter-spacing: -3px;
  }

  .ml {
    margin-left: 0 !important;
  }
}

@media (width: 1920px) {
  .main_book_img {
    width: 765px;
    height: 765px;
    margin-top: 0;
  }

  .main_title {
    font-size: 60px;
    margin-bottom: 30px;
    letter-spacing: -1.5px;
  }

  .main_caption {
    font-size: 32px;
    letter-spacing: -0.8px;
  }

  .main_navigation_wrapper {
    width: 540px;
    height: 120px;
    margin-top: 90px;
    padding: 0 20px 0 80px;
    border-radius: 100px;
  }

  .main_navigation_text {
    font-size: 30px;
    letter-spacing: -0.75px;
  }

  .main_navigation_icon {
    width: 80px;
    height: 80px;
  }

  .main_content {
    background: url(../../img/type_a/main_bg_x.svg) no-repeat top center;
  }

  .main_content_wrapper {
    display: flex;
    align-items: center;
    gap: 100px;
  }

  .ml {
    margin-left: 0 !important;
  }
}

/* 키워드 버블 차트 */
.keyword_bubble_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: url(../../img/type_a/bubble_bg.svg) no-repeat top center;
  background-size: cover;
}

.light_gary {
  color : #EFF1F3 !important;
}

.keyword_bubble_chart {
  position: relative;
  width: 1562px;
  height: 1242px;
  margin-top: 200px;
}

.keyword_bubble_chart_item {
  font-family: "Pretendard", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  position: absolute;
  display: inline-flex;
  cursor: pointer;
  animation: bounce 0.5s ease forwards;
  text-align: center;
  border: 1px solid transparent;
}

.keyword_bubble_chart_item:hover {
  opacity: 0.7;
}

@keyframes bounce {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.keyword_bubble_active {
  border: 1px solid currentColor;
}

.keyword_bubble_chart_item:nth-child(1) {
  font-size: 180px;
  top: 550px;
  right: 600px;
  color: #1A49BA;
}

.keyword_bubble_chart_item:nth-child(2) {
  font-size: 180px;
  top: 820px;
  right: 600px;
  color: #FFF;
}

.keyword_bubble_chart_item:nth-child(3) {
  font-size: 160px;
  top: 0;
  right: 500px;
  color: #53E14D;
}

.keyword_bubble_chart_item:nth-child(4) {
  font-size: 160px;
  top: 250px;
  right: 1000px;
  color: #4EFEFC;
}

.keyword_bubble_chart_item:nth-child(5) {
  font-size: 160px;
  top: 300px;
  right: 650px;
  color: #FFF;
}

.keyword_bubble_chart_item:nth-child(6) {
  font-size: 160px;
  top: 300px;
  right: 300px;
  color: #FF9500;
}

.keyword_bubble_chart_item:nth-child(7) {
  font-size: 160px;
  top: 550px;
  right: 980px;
  color: #4EFEFC;
}

.keyword_bubble_chart_item:nth-child(8) {
  font-size: 120px;
  top: 550px;
  right: 300px;
  color: #FFF;
}

.keyword_bubble_chart_item:nth-child(9) {
  font-size: 120px;
  top: 550px;
  right: 0;
  color: #A60EF2;
}

.keyword_bubble_chart_item:nth-child(10) {
  font-size: 120px;
  top: 950px;
  right: 1100px;
  color: #1A49BA;
}

.keyword_bubble_chart_item:nth-child(11) {
  font-size: 120px;
  top: 950px;
  right: 100px;
  color: #53E14D;
}

.keyword_bubble_chart_item:nth-child(12) {
  font-size: 120px;
  top: 760px;
  right: 190px;
  color: #FFF;
}

.keyword_bubble_chart_item:nth-child(13) {
  font-size: 80px;
  top: 70px;
  right: 1000px;
  color: #FFF;
}

.keyword_bubble_chart_item:nth-child(14) {
  font-size: 80px;
  top: 250px;
  right: 1350px;
  color: #A60EF2;
}

.keyword_bubble_chart_item:nth-child(15) {
  font-size: 80px;
  top: 330px;
  right: 100px;
  color: #444;
}

.keyword_bubble_chart_item:nth-child(16) {
  font-size: 80px;
  top: 800px;
  right: 1350px;
  color: #444;
}

.keyword_bubble_chart_item:nth-child(17) {
  font-size: 80px;
  top: 800px;
  right: 1050px;
  color: #FFF;
}

.keyword_bubble_chart_item:nth-child(18) {
  font-size: 80px;
  top: 1090px;
  right: 850px;
  color: #444;
}

.keyword_bubble_chart_item:nth-child(19) {
  font-size: 80px;
  top: 1144px;
  right: 600px;
  color: #FFF;
}

.keyword_bubble_chart_item:nth-child(20) {
  font-size: 80px;
  top: 400px;
  right: 1390px;
  color: #FFF;
}

.keyword_refresh_btn {
  display: flex;
  align-items: center;
  margin-top: 240px;
  cursor: pointer;
  gap: 8px;
}

.keyword_refresh_btn_icon {
  width: 72px;
  height: 72px;
  background: url(../../img/type_a/refresh.svg) no-repeat top center;
  background-size: cover;
}

.keyword_refresh_btn_text {
  font-family: "Pretendard", sans-serif;
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.2px;
  color: #333D4B;
}

.keyword_selected_keyword_list {
  display: flex;
  height: 140px;
  margin-top: 99.94px;
  gap: 24px;
}

.keyword_selected_keyword_list_item {
  display: flex;
  align-items: center;
  padding: 36px 60px 36px 80px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.50);
  border-radius: 120px;
  background: rgba(255, 255, 255, 0.10);
  gap: 40px;
}

.keyword_selected_keyword_list_item:hover {
  opacity: 0.7;
}

.keyword_selected_keyword_list_item_text {
  font-family: "Pretendard", sans-serif;
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  color: #FFF;
}

.keyword_selected_keyword_list_item_icon {
  width: 68px;
  height: 68px;
  background: url(../../img/type_a/gray_close.svg) no-repeat top center;
  background-size: cover;
}

.keyword_recommend_btn {
  font-family: "Pretendard", sans-serif;
  font-size: 60px;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1384px;
  height: 220px;
  margin-top: 80px;
  cursor: pointer;
  text-align: center;
  letter-spacing: -1.5px;
  color: #FFF;
  border-radius: 200px;
  background: #3537AC;
  gap: 8px;
}

.keyword_recommend_btn:hover {
  opacity: 0.7;
}

.keyword_select_area {
  display: flex;
  gap: 24px;
}

.keyword_select_box {
  position: relative;
  margin-top: 120px;
}

.keyword_select_box label {
  font-family: "Pretendard", sans-serif;
  font-size: 60px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  position: absolute;
  top: 54px;
  left: 80px;
  color: #333D4B;
}

.keyword_select_box select {
  font-family: "Pretendard", sans-serif;
  font-size: 60px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  width: 680px;
  height: 180px;
  padding: 40px 60px 40px 220px;
  color: #191F28;
  border: 2px solid #272A49;
  border-radius: 120px;
  background:  url(../../img/type_a/select_handle.svg) no-repeat right 60px center;
  background-size: 96px;
  appearance: none;
}

.keyword_select_box select:focus {
  outline: none;
}

@media (width: 3840px) {
  .keyword_bubble_content {
    display: flex;
    flex-direction: column;
    background: url(../../img/type_a/bubble_bg_x.svg) no-repeat top center;
  }

  .keyword_bubble_chart {
    width: 3060px;
    height: 600px;
    margin-top: 121px;
    margin-left: 320px;
  }

  .keyword_bubble_chart_item {
    display: table;
  }

  .keyword_bubble_chart_item:nth-child(1) {
    top: 200px;
    right: 850px;
  }

  .keyword_bubble_chart_item:nth-child(2) {
    top: 10px;
    left: 500px;
  }

  .keyword_bubble_chart_item:nth-child(3) {
    top: 0;
    right: 1200px;
  }

  .keyword_bubble_chart_item:nth-child(4) {
    top: 250px;
    left: 300px;
  }

  .keyword_bubble_chart_item:nth-child(5) {
    top: 280px;
    right: 1270px;
  }

  .keyword_bubble_chart_item:nth-child(6) {
    top: 10px;
    right: 200px;
  }

  .keyword_bubble_chart_item:nth-child(7) {
    top: 230px;
    left: 850px;
  }

  .keyword_bubble_chart_item:nth-child(8) {
    top: 0;
    right: 600px;
  }

  .keyword_bubble_chart_item:nth-child(9) {
    top: 240px;
    right: 500px;
  }

  .keyword_bubble_chart_item:nth-child(10) {
    top: 430px;
    right: 300px;
  }

  .keyword_bubble_chart_item:nth-child(11) {
    top: 450px;
    right: 600px;
  }

  .keyword_bubble_chart_item:nth-child(12) {
    top: 450px;
    right: 1600px;
  }

  .keyword_bubble_chart_item:nth-child(13) {
    top: 30px;
    left: 1150px;
  }

  .keyword_bubble_chart_item:nth-child(14) {
    top: 0;
    left: 900px;
  }

  .keyword_bubble_chart_item:nth-child(15) {
    top: 300px;
    right: 0;
  }

  .keyword_bubble_chart_item:nth-child(16) {
    top: 470px;
    left: 1000px;
  }

  .keyword_bubble_chart_item:nth-child(17) {
    top: 300px;
    left: 0;
  }

  .keyword_bubble_chart_item:nth-child(18) {
    top: 130px;
    left: 160px;
  }

  .keyword_bubble_chart_item:nth-child(19) {
    top: 300px;
    right: 250px;
  }

  .keyword_bubble_chart_item:nth-child(20) {
    top: 500px;
    left: 700px;
  }

  .keyword_refresh_btn {
    margin-top: 103px;
    margin-left: 320px;
  }

  .keyword_bubble_action_wrapper {
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-left: 320px;
  }

  .keyword_selected_keyword_list {
    height: 152px;
    margin-top: 80px;
    margin-left: 320px;
  }

  .keyword_selected_keyword_list_item {
    padding: 40px 80px 40px 96px;
  }

  .keyword_selected_keyword_list_item_text {
    font-size: 60px;
  }

  .keyword_recommend_btn {
    width: 800px;
    height: 180px;
    margin-top: 0;
    margin-left: 40px;
  }

  .keyword_select_box {
    margin-top: 0;
  }
}

/* 키워드 결과 */
.keyword_result_swiper {
  width: 2160px;
  height: 2860px;
  margin-top: 36px;
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-bottom: 80px !important;
  padding-left: 210px !important;
}

.keyword_result_swiper .swiper-slide {
  display: grid !important;
  border-radius: 24px;
  grid-template-columns: repeat(3, 1fr);
}

.keyword_result_swiper .slide-item {
  width: 440px;
  height: 844px;
}

.keyword_result_swiper .slide-item img {
  width: 440px;
  height: 637px;
  margin-bottom: 28px;
  border-radius: 24px;
  box-shadow: 0 10px 30px 0 rgba(25, 33, 61, 0.20);
  object-fit: cover;
}

.keyword_result_swiper .swiper-button-next::after,
.keyword_result_swiper .swiper-button-prev::after {
  display: none;
}

.keyword_result_swiper .swiper-button-next {
  top: 1559px;
  width: 160px;
  height: 160px;
  transform: rotate(180deg);
  background: url(../../img/type_a/arrow.svg) no-repeat top center;
  background-size: cover;
}

.keyword_result_swiper .swiper-button-prev {
  top: 1559px;
  width: 160px;
  height: 160px;
  background: url(../../img/type_a/arrow.svg) no-repeat top center;
  background-size: cover;
}

.keyword_result_swiper .swiper-pagination-current {
  color: #FFF;
}

.keyword_result_swiper .swiper-pagination-total {
  color: #666;
}

.keyword_result_swiper .swiper-pagination-fraction {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: center;
  letter-spacing: -1px;
  color: #666;
}

.keyword_result_custom_btn {
  position: fixed;
  right: 80px;
  bottom: 380px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 860px;
  height: 187px;
  padding-right: 80px;
  border-radius: 100px;
background: rgba(21, 26, 46, 0.50);
}

.keyword_result_custom_btn_character {
  position: absolute;
  bottom: 1px;
  left: 64px;
  width: 226.999px;
  height: 198.923px;
  background: url(../../img/type_a/girl.png) no-repeat top center;
  background-size: cover;
}

.keyword_result_custom_btn_text {
  font-family: "Pretendard", sans-serif;
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  text-align: right;
  letter-spacing: -2.4px;
  background: linear-gradient(90deg, #62ECE5 0%, #78ADF9 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.keyword_result_custom_btn_caption_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
  cursor: pointer;
}

.keyword_result_custom_btn_caption {
  font-family: "Pretendard", sans-serif;
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  text-align: right;
  letter-spacing: -2px;
  color: #8B95A1;
}

.keyword_result_custom_btn_caption_icon {
  width: 48px;
  height: 48px;
  transform: rotate(180deg);
  background: url(../../img/type_a/arrow.svg) no-repeat top center;
  background-size: cover;
}

@media (width: 3840px) {
  .keyword_result_custom_btn {
    bottom: 60px;
  }

  .keyword_result_swiper {
    width: 3700px;
    height: 1650px;
    margin-top: 60px;
    padding-right: 510px !important;
    padding-bottom: 130px !important;
    padding-left: 510px !important;
  }

  .keyword_result_swiper .swiper-slide {
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 60px;
    grid-column-gap: 305px;
  }

  .keyword_result_swiper .slide-item {
    width: 356px;
    height: 704px;
  }

  .keyword_result_swiper .slide-item img {
    width: 356px;
    height: 515px;
    box-shadow: 20px 20px 80px 8px rgba(0, 0, 0, 0.20);
  }

  .keyword_result_swiper .swiper-button-next {
    top: 750px;
    right: -30px;
  }

  .keyword_result_swiper .swiper-button-prev {
    top: 750px;
    left: 300px;
  }

  .keyword_result_swiper .swiper-pagination-fraction {
    margin-left: 137px !important;
  }
}

/* 키워드 맞춤형 */
.keyword_custom_content {
  width: 100%;
  height: 100%;
  border-radius: 100px 100px 0 0;
  background: #FFFFFF;
}

.black {
  color: #191F28 !important;
}

.gary {
  color: #6B7684 !important;
}

.dark {
  color: #4E5968 !important;
  filter: brightness(0.6) saturate(1.5) hue-rotate(-20deg);
}

#white .swiper-pagination-current {
 color: #191F28;
}

.keyword_custom_book_title {
  font-family: "Pretendard", sans-serif;
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  line-height: 140%;
  overflow: hidden;
  width: 356px;
  margin-bottom: 8px;
  white-space: nowrap;
  letter-spacing: -1.2px;
  text-overflow: ellipsis;
  color: #3C8F97;
}

.keyword_custom_writer {
  font-family: "Pretendard", sans-serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  overflow: hidden;
  width: 356px;
  white-space: nowrap;
  letter-spacing: -1px;
  text-overflow: ellipsis;
  color: #8B95A1;
}

@media (width: 3840px) {
  .keyword_custom_content {
    width: 3520px;
    margin-left: 320px;
    padding-top: 121px;
  }

  .keyword_custom_slider_wrapper {
    margin-top: 165px;
  }
}

/* 사서추천 */
@media (width: 3840px) {
  .librarian_slider_wrapper {
    width: 3520px;
    margin-left: 320px;
    padding-top: 285px;
  }
}

/* 빅데이터 */
.bigdata_filtering_list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 164px;
  gap: 40px;
}

.bigdata_filtering_list_item {
  font-family: "Pretendard", sans-serif;
  font-size: 50px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 160px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  color: #ADB5BD;
  border: 1px solid rgba(0, 0, 0, 0.40);
  border-radius: 100px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), #4E5968;
}

.bigdata_filtering_list_item_active {
  color: #FFFFFF !important;
  background: #3537AC !important;
}

.bigdata_swiper {
  width: 2160px;
  height: 2000px;
  margin-top: 160px;
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-bottom: 80px !important;
  padding-left: 210px !important;
}

.bigdata_swiper .swiper-slide {
  display: grid !important;
  border-radius: 24px;
  grid-template-columns: repeat(3, 1fr);
}

.bigdata_swiper .slide-item {
  width: 440px;
  height: 844px;
}

.bigdata_swiper .slide-item img {
  width: 440px;
  height: 637px;
  margin-bottom: 28px;
  border-radius: 24px;
  box-shadow: 0 10px 30px 0 rgba(25, 33, 61, 0.20);
  object-fit: cover;
}

.bigdata_swiper .swiper-button-next::after,
.bigdata_swiper .swiper-button-prev::after {
  display: none;
}

.bigdata_swiper .swiper-button-next {
  top: 800px;
  width: 160px;
  height: 160px;
  transform: rotate(180deg);
  background: url(../../img/type_a/arrow.svg) no-repeat top center;
  background-size: cover;
}

.bigdata_swiper .swiper-button-prev {
  top: 800px;
  width: 160px;
  height: 160px;
  background: url(../../img/type_a/arrow.svg) no-repeat top center;
  background-size: cover;
}

.bigdata_swiper .swiper-pagination-current {
  color: #FFF;
}

.bigdata_swiper .swiper-pagination-total {
  color: #666;
}

.bigdata_swiper .swiper-pagination-fraction {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: center;
  letter-spacing: -1px;
  color: #666;
}

@media (width: 3840px) {
  .bigdata_slide_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 3520px;
    margin-left: 320px;
  }

  .bigdata_filtering_list {
    margin-top: 120px;
    margin-bottom: 105px;
  }

  .bigdata_swiper {
    width: 3300px;
    height: 980px;
    margin-top: 0;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
  }

  .bigdata_swiper .swiper-slide {
    display: grid !important;
    border-radius: 24px;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
  }

  .bigdata_swiper .slide-item {
    width: 440px;
  }

  .bigdata_swiper .slide-item img {
    width: 440px;
    height: 637px;
    margin-bottom: 40px;
  }

  .bigdata_swiper .swiper-button-next {
    top: 420px;
    right: -57px;
  }

  .bigdata_swiper .swiper-button-prev {
    top: 420px;
    left: -57px;
  }

}

/* 도서 정보 */
.information_selected_item_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1012px;
  height: 1012px;
  margin-top: 124px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(100px);
}

.information_top_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.information_left_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.information_selected_item_wrapper img {
  position: absolute;
  top: -20px;
  left: 127px;
  width: 760px;
  height: 1100px;
  border-radius: 40px;
  box-shadow: 20px 20px 80px 8px rgba(0, 0, 0, 0.20);
}

.information_selected_item_wrapper div {
  font-family: "Pretendard", sans-serif;
  font-size: 50px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 212px;
  height: 212px;
  letter-spacing: -1.25px;
  color: #FFF;
  border-radius: 50%;
  background: #113B9E;
}

.information_selected_book_title {
  font-family: "Pretendard", sans-serif;
  font-size: 80px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  overflow: hidden;
  width: 1700px;
  margin-top: 124px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -2px;
  text-overflow: ellipsis;
  color: #FFF;
}

.information_selected_book_detail {
  display: flex;
  margin-top: 80px;
  gap: 250px;
}

.information_selected_book_detail_item_wrapper {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.information_selected_book_detail_item {
  font-family: "Pretendard", sans-serif;
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  overflow: hidden;
  width: 600px;
  white-space: nowrap;
  letter-spacing: -1.2px;
  text-overflow: ellipsis;
  color: #FFF;
}

.information_selected_book_detail_item span {
  font-family: "Pretendard", sans-serif;
  font-size: 48px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  margin-right: 40px;
  letter-spacing: -1.2px;
  color: #8B95A1;
}

.information_popup_trigger {
  font-family: "Pretendard", sans-serif;
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1700px;
  height: 113px;
  margin-top: 80px;
  cursor: pointer;
  color: #419BD7;
  border: 4px solid #419BD7;
  border-radius: 10px;
}

.information_popup_overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.information_popup_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1800px;
  height: 1470px;
  border-radius: 60px;
  background: #fff;
}

.information_popup_header {
  font-family: "Pretendard", sans-serif;
  font-size: 72px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  padding: 108px 0 39px 0;
  text-align: center;
  text-transform: uppercase;
  color: #242424;
}

.information_popup_content {
  width: 1620px;
  height: 981px;
}

.information_popup_action {
  display: flex;
  width: 100%;
  margin-top: 54px;
  padding: 65px 0 57px 0;
  border-top: 2px solid #A2A2A2;
}

.information_popup_close_icon {
  width: 80px;
  height: 80px;
  background: url(../../img/type_a/close.svg) no-repeat top center;
  background-size: cover;
}

.information_popup_print_icon {
  width: 80px;
  height: 80px;
  background: url(../../img/type_a/print.svg) no-repeat top center;
  background-size: cover;
}

.information_popup_close {
  border-right: 2px solid #A2A2A2;
}

.information_popup_close, .information_popup_print {
  display: flex;
  justify-content: center;
  width: 50%;
  cursor: pointer;
  gap: 20px;
}

.information_popup_close_text, .information_popup_print_text {
  font-family: "Pretendard", sans-serif;
  font-size: 60px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  color: #242424;
}

.information_book_summary_wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  gap: 8px;
}

.information_book_summary_title {
  font-family: "Pretendard", sans-serif;
  font-size: 48px;
  font-weight: 600;
  font-style: normal;
  line-height: 80px;
  color: #8B95A1;
}

.information_book_summary_content {
  font-family: "Pretendard", sans-serif;
  font-size: 48px;
  font-weight: 400;
  font-style: normal;
  line-height: 160%;
  display: -webkit-box;
  overflow: hidden;
  width: 1700px;
  text-align: justify;
  letter-spacing: -1.2px;
  text-overflow: ellipsis;
  color: #FFF;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.information_bestseller_title_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 1700px;
  margin-top: 140px;
  margin-bottom: 55px;
  gap: 16px;
}

.information_bestseller_title_icon {
  width: 48px;
  height: 50px;
  background: url(../../img/type_a/award.svg) no-repeat top center;
  background-size: cover;
}

.information_bestseller_title_text {
  font-family: "Pretendard", sans-serif;
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.2px;
  background: linear-gradient(90deg, #62ECE5 0%, #78ADF9 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.information_swiper {
  width: 2160px;
  height: 413px;
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-left: 230px !important;
}

.information_swiper .swiper-slide {
  display: flex !important;
  gap: 125px;
}

.information_swiper .slide-item {
  position: relative;
  width: 240px;
  height: 413px;
}

.information_swiper .slide-item img {
  width: 240px;
  height: 347px;
  margin-bottom: 28px;
  border-radius: 16px;
  box-shadow: 20px 20px 80px 8px rgba(0, 0, 0, 0.20);
  object-fit: cover;
}

.information_slide_book_title {
  font-family: "Pretendard", sans-serif;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  display: -webkit-box;
  overflow: hidden;
  width: 240px;
  letter-spacing: -0.8px;
  text-overflow: ellipsis;
  color: #ADB5BD;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.information_ranking {
  font-family: "Pretendard", sans-serif;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  position: absolute;
  right: -30px;
  bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  text-align: center;
  letter-spacing: -0.7px;
  color: #FFF;
  border-radius: 50%;
  background: #E71D36;
}

.information_swiper .swiper-button-next::after,
.information_swiper .swiper-button-prev::after {
  display: none;
}

.information_swiper .swiper-button-next {
  top: 160px;
  right: 70px;
  width: 96px;
  height: 96px;
  transform: rotate(180deg);
  background: url(../../img/type_a/arrow.svg) no-repeat top center;
  background-size: cover;
}

.information_swiper .swiper-button-prev {
  top: 160px;
  left: 70px;
  width: 96px;
  height: 96px;
  background: url(../../img/type_a/arrow.svg) no-repeat top center;
  background-size: cover;
}

@media (width: 3840px) {
  .information_content_wrapper {
    display: flex;
    width: 3520px;
    margin-top: 80px;
    margin-left: 320px;
  }

  .information_selected_item_wrapper {
    margin-top: 0;
    margin-left: 260px;
  }

  .information_selected_book_title {
    display: -webkit-box;
    width: 800px;
    margin-top: 124px;
    margin-left: 366px;
    vertical-align: 2;
    white-space: normal;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .information_selected_book_detail {
    display: flex;
    justify-content: center;
    width: 1700px;
  }

  .information_popup_overlay {
    z-index: 9999;
  }

  .information_popup_wrapper {
    margin-left: 320px;
  }

  .information_left_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}