#landscape_01 {
	display: block;
	position: absolute;
	width: 3180px;
	height: 1630px;
}

#landscape_02,
#landscape_03,
#landscape_04,
#landscape_05,
#landscape_06,
#landscape_07 {
	display: block;
	margin: 0 auto;
}

#landscape_02 {
	width: 3200px;
	height: 1070px;
	margin-top: 360px;
	overflow: visible;
}

#portrait_01,
#portrait_02,
#portrait_03,
#portrait_04,
#portrait_05,
#portrait_06,
#portrait_07 {
	display: none;
}

.recommendedbooks_wrap {
	background: url(../../img/type_b/keyword/bg_key_hori_01.png) no-repeat center;
	background-size: cover;
	height: 2160px;
	position: relative;
	overflow: hidden;
}

.recommendedbooks_wrap .reco_tab {
	display: block;
	overflow: hidden;
	left: 50%;
	top: 340px;
	width: 3220px;
	height: auto;
	position: absolute;
	z-index: 99999999999;
	transform: translateX(-50%);
}

.recommendedbooks_wrap .reco_tab a {
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	font-size: 50px;
	color: #6b7684;
	line-height: 130%;
	width: 33%;
	position: relative;
	text-align: center;
	height: 180px;
	font-family: 'Pretendard-Regular', sans-serif;
}

.recommendedbooks_wrap .reco_tab a.active {
	color: #191f28;
	font-size: 50px;
	font-weight: 700;
	font-family: 'Pretendard-Regular', sans-serif;
	font-family: 'Pretendard-Bold', sans-serif;
}

.recommendedbooks_wrap .reco_tab a.active:after {
	display: block;
	overflow: hidden;
	position: absolute;
	top: 118px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	background: #ac59ff;
	width: 100%;
	height: 10px;
	content: '';
	z-index: 999;
}

.recommendedbooks_wrap .reco_tab_cont {
	display: block;
	position: relative;
	border-top: 2px solid #191f28;
	height: 1630px;
	width: 3180px;
	top: 462px;
	margin: 0 auto;
}

.recommendedbooks_wrap .tab_content {
	opacity: 0;
	height: 0;
	margin: 0 auto;
}

.recommendedbooks_wrap .tab_content.active {
	opacity: 1;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 99999;
	left: 0;
	top: 66px;
}

.reco_tit_wrap {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: center;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.recommendedbooks_wrap .reco_tit {
	color: #191f28;
	text-align: center;
	font-family: 'Pretendard-SemiBold', sans-serif;
	font-size: 120px;
	line-height: normal;
	font-weight: 600;
	position: relative;
	align-self: stretch;
}

.recommendedbooks_wrap .reco_stit {
	color: #6b7684;
	text-align: center;
	font-family: 'Pretendard-Medium', sans-serif;
	font-size: 60px;
	letter-spacing: -0.025em;
	font-weight: 500;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

#landscape_02 .swiper-container {
	height: 1070px;
	width: 3200px;
}

.recommendedbooks_wrap .slide-item {
	display: flex;
	flex-direction: column;
}

.recommendedbooks_wrap .swiper-pagination-bullet {
	width: 24px;
	height: 24px;
	opacity: 1;
	border-radius: 50%;
	background-color: #8b95a1;
}

.recommendedbooks_wrap .swiper-pagination-bullet-active {
	width: 24px;
	height: 24px;
	background-color: #191f28;
}

#landscape_01 .swiper-slide {
	display: grid !important;
	/* padding: 0 330px; */
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(2, auto);
	grid-row-gap: 60px;
	grid-column-gap: 134px;
	justify-items: center;
}

#landscape_01 .slide-item {
	height: 614px;
	width: 340px;
}

#landscape_01 .book_title {
	font-family: 'Pretendard-Semibold', sans-serif;
	font-size: 44px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	overflow: hidden;
	width: 100%;
	max-width: 358px;
	margin-top: 24px;
	margin-bottom: 16px;
	white-space: nowrap;
	letter-spacing: -1.2px;
	text-overflow: ellipsis;
	color: #191f28;
}

#landscape_01 .writer {
	font-family: 'Pretendard-Regular', sans-serif;
	font-size: 38px;
	font-weight: 400;
	font-style: normal;
	line-height: normal;
	overflow: hidden;
	width: 100%;
	max-width: 358px;
	white-space: nowrap;
	letter-spacing: -1px;
	text-transform: capitalize;
	text-overflow: ellipsis;
	color: #6b7684;
}

#landscape_01 .writer span {
	color: #4e5968;
	font-size: 38px;
	display: inline-block;
	margin-left: 8px;
}

#landscape_01 .slide-item img {
	border-radius: 24px;
	flex-shrink: 0;
	width: 340px;
	height: 490px;
	position: relative;
	box-shadow: 15px 20px 30px 0px rgba(0, 0, 0, 0.15);
	object-fit: cover;
}

#landscape_01 .swiper-pagination {
	position: absolute !important;
	top: 1452px !important;
	display: flex !important;
	justify-content: center;
	gap: 40px !important;
}

#landscape_01 .swiper-slide-active {
	opacity: 1;
}

#landscape_01 .swiper-slide-next,
#landscape_01 .swiper-slide-prev {
	opacity: 0;
}

/*02*/
#landscape_02 .swiper-slide {
	display: grid !important;
	/* padding: 0 222px; */
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(1, auto);
	/* grid-row-gap: 80px; */
	grid-column-gap: 160px;
	justify-items: center;
	opacity: 0;
}

#landscape_02 .swiper-slide-active {
	opacity: 1;
}

#mn_tab9 .swiper-slide-next,
#mn_tab9 .swiper-slide-prev,
#mn_tab10 .swiper-slide-next,
#mn_tab10 .swiper-slide-prev,
#mn_tab12 .swiper-slide-next,
#mn_tab12 .swiper-slide-prev {
	opacity: 0;
}

#landscape_02 .slide-item {
	height: 964px;
	width: 510px;
}

#landscape_02 .book_title {
	font-family: 'Pretendard-Semibold', sans-serif;
	font-size: 52px;
	font-weight: 500;
	font-style: normal;
	line-height: 140%;
	overflow: hidden;
	width: 100%;
	max-width: 510px;
	margin-top: 36px;
	margin-bottom: 8px;
	white-space: nowrap;
	letter-spacing: -1.2px;
	text-overflow: ellipsis;
	color: #191f28;
}

#landscape_02 .writer {
	font-family: 'Pretendard-Regular', sans-serif;
	font-size: 44px;
	font-weight: 400;
	font-style: normal;
	line-height: normal;
	overflow: hidden;
	width: 100%;
	max-width: 510px;
	white-space: nowrap;
	letter-spacing: -1px;
	text-transform: capitalize;
	text-overflow: ellipsis;
	color: #6b7684;
}

#landscape_02 .writer span {
	color: #4e5968;
	font-size: 38px;
	display: inline-block;
	margin-left: 8px;
}

#landscape_02 .slide-item img {
	width: 510px;
	height: 784px;
	border-radius: 24px;
	box-shadow: 27px 36px 54px 0px rgba(0, 0, 0, 0.15);
	object-fit: cover;
}

#landscape_02 .swiper-pagination {
	position: absolute !important;
	top: 1450px !important;
	display: flex !important;
	justify-content: center;
	gap: 40px !important;
}

/*03*/
#landscape_03 .swiper-slide,
#landscape_04 .swiper-slide,
#landscape_05 .swiper-slide,
#landscape_06 .swiper-slide,
#landscape_07 .swiper-slide {
	display: grid !important;
	/* padding: 0 222px; */
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	/* grid-row-gap: 80px; */
	grid-column-gap: 120px;
	justify-items: center;
	width: 3220px !important;
}

#landscape_03 .slide-item,
#landscape_04 .slide-item,
#landscape_05 .slide-item,
#landscape_06 .slide-item,
#landscape_07 .slide-item {
	height: 818px;
}

#landscape_03 .book_title,
#landscape_04 .book_title,
#landscape_05 .book_title,
#landscape_06 .book_title,
#landscape_07 .book_title {
	font-family: 'Pretendard-Semibold', sans-serif;
	font-size: 48px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	overflow: hidden;
	width: 100%;
	max-width: 410px;
	margin-top: 36px;
	margin-bottom: 16px;
	white-space: nowrap;
	letter-spacing: -1.2px;
	text-overflow: ellipsis;
	color: #191f28;
}

#landscape_03 .writer,
#landscape_04 .writer,
#landscape_05 .writer,
#landscape_06 .writer,
#landscape_07 .writer {
	font-family: 'Pretendard-Regular', sans-serif;
	font-size: 40px;
	font-weight: 400;
	font-style: normal;
	line-height: normal;
	overflow: hidden;
	width: 100%;
	max-width: 410px;
	white-space: nowrap;
	letter-spacing: -1px;
	text-transform: capitalize;
	text-overflow: ellipsis;
	color: #6b7684;
}

#landscape_03 .writer span,
#landscape_04 .writer span,
#landscape_05 .writer span,
#landscape_06 .writer span,
#landscape_07 .writer span {
	color: #4e5968;
	font-size: 38px;
	display: inline-block;
	margin-left: 8px;
}

#landscape_03 .slide-item img,
#landscape_04 .slide-item img,
#landscape_05 .slide-item img,
#landscape_06 .slide-item img,
#landscape_07 .slide-item img {
	width: 410px;
	height: 630px;
	border-radius: 28px;
	box-shadow: 30px 40px 60px 0px rgba(0, 0, 0, 0.15);
	object-fit: cover;
}

#landscape_03 .swiper-pagination,
#landscape_04 .swiper-pagination,
#landscape_05 .swiper-pagination,
#landscape_06 .swiper-pagination,
#landscape_07 .swiper-pagination {
	position: absolute !important;
	top: 870px !important;
	display: flex !important;
	justify-content: center;
	gap: 40px !important;
}

.recommendedbooks_wrap .ttabs {
	top: 0;
	width: 3220px;
	position: unset;
	z-index: 99999;
	/* left: 50%; */
	/* transform: translateX(50%); */
}

.recommendedbooks_wrap .recom_tab {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	width: 100%;
	height: 150px;
	border-radius: 80px;
	background: #8b95a1;
	margin-top: 300px;
}

.recommendedbooks_wrap .recom_tab a {
	display: inline-block;
	overflow: hidden;
	background: #8b95a1;
	vertical-align: middle;
	font-size: 50px;
	color: #fff;
	line-height: 150px;
	width: 24.6%;
	position: relative;
	text-align: center;
	height: 160px;
	font-family: 'Pretendard-Bold', sans-serif;
}

.recommendedbooks_wrap .recom_tab a.active {
	background: var(--gray900, #191f28);
	color: #fff;
	font-size: 50px;
	font-weight: 700;
	border-radius: 80px;
}

.recommendedbooks_wrap .recom_tab_cont {
	display: block;
	position: relative;
	height: 888px;
	margin: 80px auto 0;
	width: 100%;
	/* left: 50%; */
	/* transform: translateX(-50%); */
}

.recommendedbooks_wrap .tab_contentt {
	opacity: 0;
	height: 0;
	margin: 0 auto;
}

.recommendedbooks_wrap .tab_contentt.active {
	opacity: 1;
	height: 888px;
	width: 100%;
}

@media (max-width: 2160px) {

	#landscape_01,
	#landscape_02,
	#landscape_03,
	#landscape_04,
	#landscape_05,
	#landscape_06,
	#landscape_07 {
		display: none;
	}

	#portrait_01,
	#portrait_02,
	#portrait_03,
	#portrait_04,
	#portrait_05,
	#portrait_06,
	#portrait_07 {
		display: block;
		height: 3036px;
		/* overflow: hidden; */
		margin: 0 auto;
	}

	#portrait_02 {
		height: 2500px;
		margin-top: 360px;
	}

	#portrait_02 .swiper-container {
		height: 2330px;
	}

	.recommendedbooks_wrap {
		background: url(../../img/type_b/keyword/bg_key_ver_01.png) no-repeat center;
		background-size: cover;
		width: 2160px;
		height: 3840px;
		position: absolute;
		left: 0px;
		top: 0px;
		/* filter: blur(2px); */
		object-fit: cover;
		position: relative;
		overflow: hidden;
	}

	.recommendedbooks_wrap .reco_tab_cont {
		display: block;
		position: relative;
		border-top: 3px solid #191f28;
		height: 3300px;
		width: 1800px;
		top: 540px;
		margin: 0 auto;
	}

	.recommendedbooks_wrap .tab_content.active {
		top: 144px;
	}

	.recommendedbooks_wrap .reco_tab {
		top: 420px;
		width: 1800px;
	}

	#portrait_01 .swiper-slide {
		display: grid !important;
		padding: 0;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, auto);
		grid-row-gap: 100px;
		grid-column-gap: 180px;
		justify-items: center;
	}

	#portrait_01 .slide-item {
		height: 842px;
		width: 440px;
	}

	#portrait_01 .book_title {
		font-family: 'Pretendard-Semibold', sans-serif;
		font-size: 48px;
		font-weight: 500;
		font-style: normal;
		line-height: 140%;
		overflow: hidden;
		width: 100%;
		max-width: 440px;
		margin-top: 36px;
		margin-bottom: 8px;
		white-space: nowrap;
		letter-spacing: -1.2px;
		text-overflow: ellipsis;
		color: #191f28;
	}

	#portrait_01 .writer {
		font-family: 'Pretendard-Regular', sans-serif;
		font-size: 38px;
		font-weight: 400;
		font-style: normal;
		line-height: normal;
		overflow: hidden;
		width: 100%;
		max-width: 440px;
		white-space: nowrap;
		letter-spacing: -1px;
		text-transform: capitalize;
		text-overflow: ellipsis;
		color: #6b7684;
	}

	#portrait_01 .writer span {
		color: #4e5968;
		font-size: 38px;
		display: inline-block;
		margin-left: 8px;
	}

	#portrait_01 .slide-item img {
		width: 440px;
		height: 676px;
		border-radius: 24px;
		box-shadow: 0 10px 30px 0 rgba(25, 33, 61, 0.2);
		object-fit: cover;
	}

	#portrait_01 .swiper-pagination {
		position: absolute !important;
		top: 2800px !important;
		display: flex !important;
		justify-content: center;
		gap: 40px !important;
		width: 50%;
		left: 50%;
		transform: translateX(-50%);
		/* z-index: 9999999999; */
	}

	#portrait_02 .swiper-slide {
		display: grid !important;
		/* padding: 0 222px; */
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(3, auto);
		grid-row-gap: 110px;
		grid-column-gap: 100px;
		justify-items: center;
	}

	#portrait_02 .slide-item {
		height: 714px;
	}

	#portrait_02 .book_title {
		font-family: 'Pretendard-Medium', sans-serif;
		font-size: 48px;
		font-weight: 500;
		font-style: normal;
		line-height: 140%;
		overflow: hidden;
		width: 100%;
		max-width: 358px;
		margin-top: 36px;
		margin-bottom: 8px;
		white-space: nowrap;
		letter-spacing: -1.2px;
		text-overflow: ellipsis;
		color: #191f28;
	}

	#portrait_02 .writer {
		font-family: 'Pretendard-Medium', sans-serif;
		font-size: 40px;
		font-weight: 400;
		font-style: normal;
		line-height: normal;
		overflow: hidden;
		width: 100%;
		max-width: 358px;
		white-space: nowrap;
		letter-spacing: -1px;
		text-transform: capitalize;
		text-overflow: ellipsis;
		color: #6b7684;
	}

	#portrait_02 .writer span {
		color: #4e5968;
		font-size: 38px;
		display: inline-block;
		margin-left: 8px;
	}

	#portrait_02 .slide-item img {
		width: 360px;
		height: 540px;
		border-radius: 24px;
		box-shadow: 0 10px 30px 0 rgba(25, 33, 61, 0.2);
		object-fit: cover;
	}

	#portrait_02 .swiper-pagination {
		position: absolute !important;
		top: 2778px !important;
		display: flex !important;
		justify-content: center;
		gap: 40px !important;
	}

	#portrait_03 .swiper-slide,
	#portrait_04 .swiper-slide,
	#portrait_05 .swiper-slide,
	#portrait_06 .swiper-slide,
	#portrait_07 .swiper-slide {
		display: grid !important;
		/* padding: 0 222px; */
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-row-gap: 120px;
		grid-column-gap: 100px;
		justify-items: center;
	}

	#portrait_03 .slide-item,
	#portrait_04 .slide-item,
	#portrait_05 .slide-item,
	#portrait_06 .slide-item,
	#portrait_07 .slide-item {
		height: 960px;
		width: 500px;
	}

	#portrait_03 .book_title,
	#portrait_04 .book_title,
	#portrait_05 .book_title,
	#portrait_06 .book_title,
	#portrait_07 .book_title {
		font-family: 'Pretendard-Medium', sans-serif;
		font-size: 52px;
		font-weight: 500;
		font-style: normal;
		line-height: 140%;
		overflow: hidden;
		width: 100%;
		max-width: 500px;
		margin-top: 36px;
		margin-bottom: 8px;
		white-space: nowrap;
		letter-spacing: -1.2px;
		text-overflow: ellipsis;
		color: #191f28;
	}

	#portrait_03 .writer,
	#portrait_04 .writer,
	#portrait_05 .writer,
	#portrait_06 .writer,
	#portrait_07 .writer {
		font-family: 'Pretendard-Regular', sans-serif;
		font-size: 42px;
		font-weight: 400;
		font-style: normal;
		line-height: normal;
		overflow: hidden;
		width: 100%;
		max-width: 500px;
		white-space: nowrap;
		letter-spacing: -1px;
		text-transform: capitalize;
		text-overflow: ellipsis;
		color: #6b7684;
	}

	#portrait_03 .writer span,
	#portrait_04 .writer span,
	#portrait_05 .writer span,
	#portrait_06 .writer span,
	#portrait_07 .writer span {
		color: #4e5968;
		font-size: 38px;
		display: inline-block;
		margin-left: 8px;
	}

	#portrait_03 .slide-item img,
	#portrait_04 .slide-item img,
	#portrait_05 .slide-item img,
	#portrait_06 .slide-item img,
	#portrait_07 .slide-item img {
		width: 500px;
		height: 768px;
		border-radius: 36px;
		box-shadow: 30px 40px 60px 0px rgba(0, 0, 0, 0.15);
		object-fit: cover;
	}

	#portrait_03 .swiper-pagination,
	#portrait_04 .swiper-pagination,
	#portrait_05 .swiper-pagination,
	#portrait_06 .swiper-pagination,
	#portrait_07 .swiper-pagination {
		position: absolute !important;
		top: 2136px !important;
		display: flex !important;
		justify-content: center;
		gap: 40px !important;
	}

	.recommendedbooks_wrap .ttabs {
		top: 0;
		width: 100%;
		/* position: absolute; */
		z-index: 99999;
	}

	.recommendedbooks_wrap .recom_tab {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		overflow: hidden;
		width: 100%;
		height: 160px;
		border-radius: 80px;
		margin-top: 350px;
	}

	.recommendedbooks_wrap .recom_tab a {
		display: inline-block;
		overflow: hidden;
		background: var(--gray500, #8b95a1);
		vertical-align: middle;
		font-size: 50px;
		color: #fff;
		line-height: 160px;
		width: 24.6%;
		position: relative;
		text-align: center;
		height: 160px;
		font-family: 'Pretendard-Bold', sans-serif;
	}

	.recommendedbooks_wrap .recom_tab a.active {
		background: var(--gray900, #191f28);
		color: #fff;
		font-size: 50px;
		font-weight: 700;
	}

	.recommendedbooks_wrap .recom_tab_cont {
		display: block;
		position: relative;
		height: 2180px;
		margin: 144px auto 0px;
		width: 1740px;
	}

	.recommendedbooks_wrap .tab_contentt {
		opacity: 0;
		height: 0;
		margin: 0 auto;
	}

	.recommendedbooks_wrap .tab_contentt.active {
		opacity: 1;
		height: 888px;
		width: 100%;
	}
}

@media (max-width: 1920px) {
	#landscape_01 {
		display: block;
		width: 1590px;
		height: 815px;
	}

	#landscape_02,
	#landscape_03,
	#landscape_04,
	#landscape_05,
	#landscape_06,
	#landscape_07 {
		display: block;
		margin: 0 auto;
	}

	#landscape_02 {
		width: 1600px;
		height: 535px;
		margin-top: 180px;
		overflow: visible;
	}

	#portrait_01,
	#portrait_02,
	#portrait_03,
	#portrait_04,
	#portrait_05,
	#portrait_06,
	#portrait_07 {
		display: none;
	}

	.recommendedbooks_wrap {
		background: url(../../img/type_b/keyword/bg_key_hori_01.png) no-repeat center;
		background-size: cover;
		height: 1080px;
		width: 1920px;
	}

	.recommendedbooks_wrap .reco_tab {
		top: 170px;
		width: 1610px;
		height: auto;
	}

	.recommendedbooks_wrap .reco_tab a {
		font-size: 25px;
		height: 90px;
		width: 33%;
	}

	.recommendedbooks_wrap .reco_tab a.active {
		font-size: 25px;
	}

	.recommendedbooks_wrap .reco_tab a.active:after {
		top: 59px;
		height: 5px;
	}

	.recommendedbooks_wrap .reco_tab_cont {
		border-top: 1px solid #191f28;
		height: 815px;
		width: 1590px;
		top: 231px;
		margin: 0 auto;
	}

	.recommendedbooks_wrap .tab_content.active {
		top: 33px;
	}

	.reco_tit_wrap {
		gap: 10px;
		width: 100%;
		left: 0;
		top: 0;
	}

	.recommendedbooks_wrap .reco_tit {
		font-size: 60px;
	}

	.recommendedbooks_wrap .reco_stit {
		font-size: 30px;
	}

	#landscape_02 .swiper-container {
		height: 535px;
		width: 1600px;
	}

	.recommendedbooks_wrap .swiper-pagination-bullet {
		width: 12px;
		height: 12px;
	}

	.recommendedbooks_wrap .swiper-pagination-bullet-active {
		width: 12px;
		height: 12px;
	}

	#landscape_01 .swiper-slide {
		grid-template-columns: repeat(7, 1fr);
		grid-template-rows: repeat(2, auto);
		grid-row-gap: 30px;
		grid-column-gap: 67px;
		justify-items: center;
	}

	#landscape_01 .slide-item {
		height: 307px;
		width: 170px;
	}

	#landscape_01 .book_title {
		font-size: 22px;
		width: 100%;
		max-width: 179px;
		margin-top: 12px;
		margin-bottom: 8px;
	}

	#landscape_01 .writer {
		font-size: 19px;
		width: 100%;
		max-width: 179px;
	}

	#landscape_01 .writer span {
		font-size: 19px;
		margin-left: 4px;
	}

	#landscape_01 .slide-item img {
		border-radius: 12px;
		width: 170px;
		height: 245px;
		box-shadow: 7px 10px 15px 0px rgba(0, 0, 0, 0.15);
	}

	#landscape_01 .swiper-pagination {
		top: 726px !important;
		gap: 20px !important;
	}

	#landscape_02 .swiper-slide {
		display: grid !important;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(1, auto);
		grid-column-gap: 80px;
		justify-items: center;
	}

	#landscape_02 .slide-item {
		height: 482px;
		width: 255px;
	}

	#landscape_02 .book_title {
		font-size: 26px;
		max-width: 255px;
		margin-top: 18px;
		margin-bottom: 4px;
	}

	#landscape_02 .writer {
		font-size: 22px;
		max-width: 255px;
	}

	#landscape_02 .writer span {
		margin-left: 4px;
		font-size: 19px;
	}

	#landscape_02 .slide-item img {
		width: 255px;
		height: 392px;
		border-radius: 12px;
		box-shadow: 14px 18px 27px 0px rgba(0, 0, 0, 0.15);
	}

	#landscape_02 .swiper-pagination {
		top: 725px !important;
		gap: 20px !important;
	}

	/*03*/
	#landscape_03 .swiper-slide,
	#landscape_04 .swiper-slide,
	#landscape_05 .swiper-slide,
	#landscape_06 .swiper-slide,
	#landscape_07 .swiper-slide {
		display: grid !important;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-column-gap: 60px;
		width: 1610px !important;
	}

	#landscape_03 .slide-item,
	#landscape_04 .slide-item,
	#landscape_05 .slide-item,
	#landscape_06 .slide-item,
	#landscape_07 .slide-item {
		height: 409px;
		max-width: 205px;
	}

	#landscape_03 .book_title,
	#landscape_04 .book_title,
	#landscape_05 .book_title,
	#landscape_06 .book_title,
	#landscape_07 .book_title {
		font-size: 24px;
		max-width: 205px;
		margin-top: 18px;
		margin-bottom: 8px;
	}

	#landscape_03 .writer,
	#landscape_04 .writer,
	#landscape_05 .writer,
	#landscape_06 .writer,
	#landscape_07 .writer {
		font-size: 20px;
		max-width: 205px;
	}

	#landscape_03 .writer span,
	#landscape_04 .writer span,
	#landscape_05 .writer span,
	#landscape_06 .writer span,
	#landscape_07 .writer span {
		font-size: 19px;
		margin-left: 4px;
	}

	#landscape_03 .slide-item img,
	#landscape_04 .slide-item img,
	#landscape_05 .slide-item img,
	#landscape_06 .slide-item img,
	#landscape_07 .slide-item img {
		width: 205px;
		height: 315px;
		border-radius: 14px;
		box-shadow: 15px 20px 30px 0px rgba(0, 0, 0, 0.15);
		object-fit: cover;
	}

	#landscape_03 .swiper-pagination,
	#landscape_04 .swiper-pagination,
	#landscape_05 .swiper-pagination,
	#landscape_06 .swiper-pagination,
	#landscape_07 .swiper-pagination {
		top: 437px !important;
		gap: 20px !important;
	}

	.recommendedbooks_wrap .ttabs {
		top: 0;
		width: 1610px;
		position: unset;
	}

	.recommendedbooks_wrap .recom_tab {
		width: 100%;
		height: 75px;
		border-radius: 40px;
		margin-top: 150px;
	}

	.recommendedbooks_wrap .recom_tab a {
		font-size: 25px;
		line-height: 75px;
		width: 24.6%;
		height: 80px;
	}

	.recommendedbooks_wrap .recom_tab a.active {
		background: #191f28;
		color: #fff;
		font-size: 25px;
		border-radius: 40px;
	}

	.recommendedbooks_wrap .recom_tab_cont {
		display: block;
		position: relative;
		height: 444px;
		margin: 40px auto 0;
		width: 100%;
	}

	.recommendedbooks_wrap .tab_contentt {
		opacity: 0;
		height: 0;
		margin: 0 auto;
	}

	.recommendedbooks_wrap .tab_contentt.active {
		opacity: 1;
		height: 444px;
		width: 100%;
	}
}

@media (max-width: 1080px) {

	#landscape_01,
	#landscape_02,
	#landscape_03,
	#landscape_04,
	#landscape_05,
	#landscape_06,
	#landscape_07 {
		display: none;
	}

	#portrait_01,
	#portrait_02,
	#portrait_03,
	#portrait_04,
	#portrait_05,
	#portrait_06,
	#portrait_07 {
		display: block;
		height: 1518px;
		margin: 0 auto;
	}

	#portrait_02 {
		height: 1250px;
		margin-top: 180px;
	}

	#portrait_02 .swiper-container {
		height: 1165px;
	}

	.recommendedbooks_wrap {
		background: url(../../img/type_b/keyword/bg_key_ver_01.png) no-repeat center;
		background-size: cover;
		width: 1080px;
		height: 1920px;
		position: absolute;
		left: 0px;
		top: 0px;
		/* filter: blur(2px); */
	}

	.recommendedbooks_wrap .reco_tab_cont {
		height: 1650px;
		width: 900px;
		top: 270px;
		margin: 0 auto;
	}

	.recommendedbooks_wrap .tab_content.active {
		top: 72px;
	}

	.recommendedbooks_wrap .reco_tab {
		top: 210px;
		width: 900px;
	}

	#portrait_01 .swiper-slide {
		display: grid !important;
		padding: 0;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, auto);
		grid-row-gap: 50px;
		grid-column-gap: 90px;
		justify-items: center;
	}

	#portrait_01 .slide-item {
		height: 421px;
		width: 220px;
	}

	#portrait_01 .book_title {
		font-size: 24px;
		max-width: 220px;
		margin-top: 18px;
		margin-bottom: 4px;
	}

	#portrait_01 .writer {
		font-size: 19px;
		max-width: 220px;
	}

	#portrait_01 .writer span {
		font-size: 19px;
		margin-left: 4px;
	}

	#portrait_01 .slide-item img {
		width: 220px;
		height: 338px;
		border-radius: 12px;
		box-shadow: 0 5px 15px 0 rgba(25, 33, 61, 0.2);
	}

	#portrait_01 .swiper-pagination {
		top: 1400px !important;
		gap: 20px !important;
		width: 50%;
		left: 50%;
		transform: translateX(-50%);
	}

	#portrait_02 .swiper-slide {
		display: grid !important;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(3, auto);
		grid-row-gap: 55px;
		grid-column-gap: 50px;
		justify-items: center;
	}

	#portrait_02 .slide-item {
		height: 357px;
	}

	#portrait_02 .book_title {
		font-size: 24px;
		max-width: 179px;
		margin-top: 18px;
		margin-bottom: 4px;
	}

	#portrait_02 .writer {
		font-size: 20px;
		max-width: 179px;
	}

	#portrait_02 .writer span {
		font-size: 19px;
		margin-left: 4px;
	}

	#portrait_02 .slide-item img {
		width: 180px;
		height: 270px;
		border-radius: 12px;
		box-shadow: 0 5px 15px 0 rgba(25, 33, 61, 0.2);
	}

	#portrait_02 .swiper-pagination {
		top: 1389px !important;
		gap: 20px !important;
	}

	#portrait_03 .swiper-slide,
	#portrait_04 .swiper-slide,
	#portrait_05 .swiper-slide,
	#portrait_06 .swiper-slide,
	#portrait_07 .swiper-slide {
		display: grid !important;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-row-gap: 60px;
		grid-column-gap: 50px;
		justify-items: center;
	}

	#portrait_03 .slide-item,
	#portrait_04 .slide-item,
	#portrait_05 .slide-item,
	#portrait_06 .slide-item,
	#portrait_07 .slide-item {
		height: 480px;
		width: 250px;
	}

	#portrait_03 .book_title,
	#portrait_04 .book_title,
	#portrait_05 .book_title,
	#portrait_06 .book_title,
	#portrait_07 .book_title {
		font-size: 26px;
		max-width: 250px;
		margin-top: 18px;
		margin-bottom: 4px;
	}

	#portrait_03 .writer,
	#portrait_04 .writer,
	#portrait_05 .writer,
	#portrait_06 .writer,
	#portrait_07 .writer {
		font-size: 21px;
		max-width: 250px;
	}

	#portrait_03 .writer span,
	#portrait_04 .writer span,
	#portrait_05 .writer span,
	#portrait_06 .writer span,
	#portrait_07 .writer span {
		font-size: 19px;
		margin-left: 4px;
	}

	#portrait_03 .slide-item img,
	#portrait_04 .slide-item img,
	#portrait_05 .slide-item img,
	#portrait_06 .slide-item img,
	#portrait_07 .slide-item img {
		width: 250px;
		height: 384px;
		border-radius: 18px;
		box-shadow: 15px 20px 30px 0px rgba(0, 0, 0, 0.15);
		object-fit: cover;
	}

	#portrait_03 .swiper-pagination,
	#portrait_04 .swiper-pagination,
	#portrait_05 .swiper-pagination,
	#portrait_06 .swiper-pagination,
	#portrait_07 .swiper-pagination {
		top: 1068px !important;
		gap: 20px !important;
	}

	.recommendedbooks_wrap .ttabs {
		top: 0;
		width: 100%;
		z-index: 99999;
	}

	.recommendedbooks_wrap .recom_tab {
		width: 100%;
		height: 80px;
		border-radius: 40px;
		margin-top: 175px;
	}

	.recommendedbooks_wrap .recom_tab a {
		font-size: 25px;
		line-height: 80px;
		width: 24.6%;
		height: 80px;
	}

	.recommendedbooks_wrap .recom_tab a.active {
		font-size: 25px;
	}

	.recommendedbooks_wrap .recom_tab_cont {
		height: 1090px;
		margin: 72px auto 0px;
		width: 870px;
	}

	.recommendedbooks_wrap .tab_contentt {
		opacity: 0;
		height: 0;
		margin: 0 auto;
	}

	.recommendedbooks_wrap .tab_contentt.active {
		opacity: 1;
		height: 444px;
		width: 100%;
	}
}